// _variables.scss
$primary-color: #21201E;
$secondary-color: #37312A;
$movie-card-bg: #37312A;     // Dark grey background for movie cards
$dark-bg: #1e1e1e;           // Dark background
$text-light: #ffffff;        // White text
$text-dark: #333333;         // Dark text
$title-bg:#a2a2a2;
$button-color: #a08c6d;
$button-hover-bg: darken($primary-color, 10%);
$button-text: $text-light;
$border-radius: 10px;
$grey-bg:#2a2828;
